body {
    background: black;
    color:#CCCCCC; 
  }
  #c2 {
    background-image: url(canvas.jpg);
    background-repeat: no-repeat;
  }
  div {
    float: left;
    border :1px solid #444444;
    padding:10px;
    margin: 10px;
    background:#3B3B3B;
  }